/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */


/* Estilos del NAV */

.Nav {
    background-color: black;
    height: 12vh;
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: right;
}

.Nav

.Nav a:hover {
    color: grey;
}

.Nav h3 {
    color: white;
    text-decoration: none;
    padding-left: 5px;
}

.Nav .code {
    display: flex;
    align-items: center;
    position:absolute;
    left: 3%;
}

.Nav a{
    margin-right: 20px;
}

.Nav a {
    color: white;
    text-decoration: none;
    padding: 5px;
}

.Nav div {
    display: flex;
    align-items: center;
}

.Nav .MobileNav {
    display: none;
   
}


/* Estilos del HOME */

.imgFondo {
    background-image: url("./Fondo2.jpg");
    height: 88vh;
    width: 100%;
    text-align: center;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.imgFondo h3 {
    margin: 0;
}

.saludo {
    color: white;
    align-items: center;
    padding-top: 25vh;
    padding-bottom: 35vh;
}

/* Estilos del ABOUT ME en la HOME */

.AboutMe {
    height: 88vh;
    width: 100%;
    justify-content: center;
}

.foto {
    height: 50vh;

}

.acercaDe {
    display: flex;
    justify-content: center;
    width: 80vw;
    margin: 0 auto; 
    text-decoration: none;
    padding-top: 25vh;
}

.acercaDe h2 {
    margin-top: 0;
    position: relative;
}

.acercaDetalle {
    text-decoration: none;
    font-weight: 200;
    text-align: justify;
    padding-left: 5%;
}

.estudiante {
    font-style: italic;
}

.acercaDetalle button {
    pointer-events: auto;
	cursor: pointer;
	background: #e7e7e7;
	border: none;
	padding: 1rem 3rem;
	/* margin: 0; */
	font-family: inherit;
	font-size: inherit;
	position: relative;
	display: inline-block;
    margin-right: 4px;
}


/* Estilos de la PÁGINA 2 */



.contenedor2 {
    padding: 1.3rem;
    background-color: rgb(20, 19, 19);
    display: flex;
    align-items: center;
    gap: 1rem;
    border-radius: 8px;
    margin-bottom: 2rem;
    color: white;
    margin-left: 5%;
    margin-right: 5%;
    width: 30vw;
}

.contenedor2 p {
    padding-right: 15px;
}

.contenedor2 a {
    text-decoration:none;
    color: white;
}

.iconos {
    color: white;
    background-color: rgb(80, 78, 78);
    padding: 1rem;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.contenedorDelForm {
    width: 100%; 
}

.formGroup {
    width: 100%;
    margin-bottom: 2rem;
    /* margin-left: 5%;
    margin-right: 5%; */
    
}


.contenedorDelForm label {
    font-size: 1.2rem;
    color: white;
}

.contenedorDelForm input, textarea {
    width: 100%;
    font-size: 1.2rem;
    padding: 1rem;
    color:rgb(107, 107, 107);
    background-color: rgb(20, 19, 19);
    outline: none;
    border: none;
    border-radius: 4px;
    margin-top: 1rem;
    
}

.contenedorDelForm textarea {
    min-height: 200px;
    resize: vertical;
}

.contenedorDelForm button[type='submit'] {
    background-color: rgb(27, 27, 27);
    color: rgb(145, 143, 143);
    font-size: 1rem;
    display: inline-block;
    outline: none;
    border: none;
    padding: 1rem 4rem;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 30px;

}

.container{
    width: 100%;
    background-color: rgb(32, 32, 32);
}
.container h1 {
    text-align: center;
    color: white;
    margin: 0;
    padding-top: 5%;
}

.contactSectionWrapper {
    display: flex;
    gap: 5rem;
    margin-top: 7rem;
    justify-content: center;
    position: relative;
}
.contactSectionWrapper h2 {
    display: none;
}

.Alert {
    font-size: 15px;
    color: red;
}

/* Estilos CARDS */
.card {
    width: 30vw;
    background-color: white;
    text-align: center;
    margin: 10px;
    box-shadow: 3px 3px 5px 2px #999;
}



.cards {
    display: flex;
    justify-content: center;
}



.contenedor3 {
    background-color: #e7e7e7;
    justify-content: center;
    padding-top: 10%;
    padding-bottom: 10%;
}

.card p {
    padding-left: 5vw;
    padding-right: 5vw;
    padding-bottom: 2vw;
}

.icon2 {
    margin-top: 30px;
}

.container4, .arrows {
    display: none;
}

footer {
    height: 10vw;
    background-color: rgb(44, 44, 44);
    text-align: center;
    align-items: center;
    justify-content: center;
    color:#727272;
    padding-top: 2.5%;
}

footer p {
    position: absolute;
    
}

.estaMierda {
    display: none;
}

@media (max-width: 500px) {

    /* Estilos del NAV */

    .Nav .ComputerNav {
        display:none;
    }

    .Nav .MobileNav {
        display: flex;
        align-items: center;
    }

    .Nav a:hover {
        color:grey;
    }

    .Nav .MobileNav .Hamburguer {
        position: absolute;
        right: 5%;
        cursor: pointer;
        
    }

    .Nav .MobileNav .NavLinks {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 70px;
        right: 0;
        width: 100%;
        background-color: black;
        padding-bottom: 5px;
        z-index: 100;
    }

    .Nav .code {
        display: none;
    }

   .aber{
       display:flex;
       align-items: center;
        position:absolute;
            left: 3%;
    }
    
    /* Estilos del HOME */

    .acercaDe {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 10vh;
    }

    .acercaDe h2 {
        margin-top: 5%;
        text-align: center;
    }

    .acercaDe p {
        text-align: justify;
    }

    .acercaDetalle{
        padding: 0;
    }

    .foto {
        height: 50vh;
        width: auto;
    }

    .botones {
        display: flex;
        flex-direction: initial;
        
    }


    .contactSectionWrapper {
        flex-direction: column;
        margin-top: 30px;
    }

    .contactSectionWrapper::after {
        display: none;
    }

    .right{
        padding: 4rem 2rem 2 rem 2rem;
    }

    .left .right{
        max-width: 100%;
    }

    .contenedorDelForm input, textarea {
        width: 80vw;
        text-align: center;
        align-items: center;
    }

    form{
        align-items: center;
        text-align: center;
    }


    .contenedor2{
        width: 80vw;
    }

    .contactSectionWrapper h2 {
        display: flex;
        text-align: center;
        justify-content: center;
        color: white;
    }

    .contenedor3 {
        display: none;
    }

    .container4 {
        /* padding: 5rem 0; */
        padding-top: 5rem;
        padding-bottom: 1rem;
        text-align: center;
        position: relative;
        max-width: 700px;
        /* margin: 0 auto; */
        background-color: #e7e7e7;
        margin-top: 70vh;
        align-items: center;
        text-align: center;
        justify-content: center;
        display:block;
    }

    .testimonial {
        width: 80%;
        height: fit-content;
        padding-top: 3rem;
        padding-bottom: 3rem;
        background-color: white;
        border-radius: 12px;
       /*  margin-top: 5rem; */
       align-items: center;
       text-align: center;
       justify-content: center;
       margin-right: 0;
       margin-left: 10%;
    
    }

    .testimonial p {
        margin-left: 5%;
        margin-right: 5%;
    }

    .arrows {
       /*  margin-top: 2rem; */
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #e7e7e7;
        padding-bottom: 3rem ;
    }

    .arrows svg {
        width: 30px;
        pointer-events: none;
        color: white;
    }

    .next, .prev {
        margin: 0 0.5rem;
        width: fit-content;
        background-color: rgb(112, 111, 111);
        padding: 0.5rem 2rem;
        border-radius: 8px;
        cursor: pointer;
    }

   

    

   
}